body {
    scrollbar-face-color: #006699;
    scrollbar-highlight-color: #cc3300;
    scrollbar-shadow-color: #000000;
    scrollbar-3dlight-color: #006699;
    scrollbar-arrow-color: #ffffff;
    scrollbar-track-color: #0099cc;
    scrollbar-darkshadow-color: #000000;
    scrollbar-base-color: #848ea9;
}
.lnk1:hover {
    color: #0000fa;
    text-decoration: none;
}
.lnk:link {
    color: #ffff00;
    text-decoration: none;
}
a:link
{
	color: #006699;
}
a:visited
{
	color: #006699;
}
a:hover
{
	color: #006699;
	text-decoration: none;
}
a:active
{
	color: #006699;
}
body, table, tr, td
{
	font-family: Verdana, Arial;
	font-size: 10pt;
	line-height: 1;
}
.frame
{
	background: #006699 url('images/framebg.gif');

}
.detail
{
	background-color: #E6E6E6;
}
